<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cicada.player.zxing" >

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 摄像头权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".activity.CaptureActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>
